body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.house {
    position: relative;
    width: 200px;
    height: 200px;
}

.base {
    width: 150px;
    height: 100px;
    background-color: brown;
    position: absolute;
    bottom: 0;
    left: 25px;
}

.roof {
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 60px solid darkblue;
    position: absolute;
    top: 40px;
    left: 25px;
    z-index: 1;
}

.pipe {
    width: 20px;
    height: 40px;
    background-color: gray;
    position: absolute;
    top: 40px;
    left: 120px;
    z-index: 0;
}

.window {
    width: 40px;
    height: 40px;
    background-color: lightblue;
    position: absolute;
    border-radius: 50%;
    top: 130px;
    left: 80px;
}